@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@500&display=swap');

* {
    margin: 0;
    font-family: 'Rajdhani', sans-serif;
    text-decoration: none;
   
}

body {
    background: rgb(234, 233, 233);
    overflow-x: hidden;
    /* width: 100%;
    height: 100%; */
}
/* primary-header */
.primary-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#logo a {
    position: fixed;
    top: 0;
    left: 0;
    margin: 1rem;
    font-size: 2rem;
    z-index: 20;
    cursor: pointer;
}


/* .nav-items {
    align-items: center;
    justify-content: space-between;
    font-size: 19px;
} */
/* nav {
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
} */
/* .nav-items {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 19px;
} */
nav {
    position: fixed;
    top: 0;
    right: 0;
    
}
.nav-items {
    display: flex;
    margin: 0;
    padding: 0;
    font-size: 1.5rem;
    /* background: rgba(0 0 0 / 0.1); */
}

/* @supports (backdrop-filter: blur(.3rem)) {
    .nav-items {
        background: rgba(0 0 0 / 0.1);
        backdrop-filter: blur(.3rem);
    }
} */

a {
    color: black;
}

li {
    margin: 20px;
    list-style: none;
    cursor: pointer;
}

li:hover {
    color: rgb(154, 154, 154);
    font-weight: bold;
}

/* H1 Titles */
h1 {
    font-size: 5rem;
    text-align: center;
}

/* Hero */
section {
    margin-top: 20px;
}

.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.hero p {
    font-size: 2rem;
}

.hero span {
    font-size: 3rem
}

/* icons */
.icons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    height: 100vh;
}
.icon {
    width: 100px;
    height: 100px;
}

/* Projects */
.projects {
    margin-bottom: 100px;
}
.grid-wrapper {
    display: grid;
    margin: 45px;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    justify-content: center;
    
}

.card {
    padding: 0;
    margin: 20px;
}

.card-body {  
    margin-top: 15px;
}

.text-center {
    text-align: center;
}

.card-img {
    width: 100%;
    height: 255px;
    object-fit: cover;
    border-radius: 20px;
}

.card-img:hover {
    transform: scale(1.1, 1.1);
    transition: ease-in-out .5s;
    box-shadow: 6px 4px 4px rgba(0 0 0/ 0.4);
}

.card-title {
    font-size: 1.5rem;
    margin-bottom: 5px;
}

/* Contact Form */
.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contact-heading {
    margin-bottom: 50px;    
}

form {
    display: flex;
    flex-direction: column;
    /* box-shadow: 6px 4px 4px rgba(0 0 0/ 0.4); */
    margin-bottom: 25px;
    width: 400px;
    /* background: rgb(234, 233, 233); */
}

input, textarea {
    background: rgb(234, 233, 233);
    box-shadow: 6px 4px 4px rgba(0 0 0/ 0.4);
    margin-bottom: 10px;
    border: none;
    padding: 5px;
    border-radius: 5px;
}

input:focus {
    outline: none;
}

textarea:focus {
    outline: none;
}

button {
    border: none;
    background: white;
    cursor: pointer;
    box-shadow: 6px 4px 4px rgba(0 0 0/ 0.4);
    padding: 5px;
    border-radius: 5px;
}

button:hover {
    background: rgb(154, 154, 154);
    color: white;
}

@media (max-width: 600px) {
    #logo {
        position: fixed;
    }

    .nav-items {
        gap: 1em;
        position: fixed;
        align-items: center;
        inset: 0 0 0 30%;
        flex-direction: column;
        padding: min(20vh, 5rem) 2rem;
        background: rgba(0 0 0 / 0.9);
        transform: translateX(100%);
    }

    a {
        color: whitesmoke;
    }

    .nav-items[data-visible="true"] {
        transform: translateX(0%);
    }

    @supports (backdrop-filter: blur(.3rem)) {
        .nav-items {
            background: rgba(0 0 0 / 0.2);
            backdrop-filter: blur(.3rem);
        }

        a {
            color: black;
        }
    }

    .hamburger {
        position: fixed;
        top: 1rem;
        right: 2rem;
        z-index: 10;
        display: inline;
        cursor: pointer;
    }
    
    .ham1,
    .ham2,
    .ham3 {
        width: 35px;
        height: 2px;
        background-color: black;
        margin: 8px 0;
        transition: 0.4s;
    }
    
    .change .ham1 {
        transform: rotate(-45deg) translate(-7px, 8px);
    }
    
    .change .ham2 {
        opacity: 0;
    }
    
    .change .ham3 {
        transform: rotate(45deg) translate(-6px, -8px);
    }

    .hero p {
        font-size: 1.5rem;
    }
    
    .hero span {
        font-size: 2rem
    }

    .icons {
        display: grid;
        justify-items: center;
        width: 100%;
        grid-template-columns: repeat(3, 50px);
        grid-template-rows: repeat(2, 125px);
        grid-gap: 1px;
        height: 75vh;
    }
}

